<!DOCTYPE html>
<html lang="en">

<html>
<%- include('./partials/head') %>
  <body>
    <%- include('./partials/header') %>
    <main>       
        <form action="/products/<%=producto.id%>/?_method=PUT" method="POST" class="formProductCreate">
            <h3 class="headerDescripcionDelProducto">Edición de producto</h3>
            <input type="text" name="name" placeholder="Nombre del producto" class="formProductCreateEditTextInput" value="<%=producto.name%>">
            <br>
            <textarea name="description" rows="12" cols="50" class="formProductCreateEditTextInput" placeholder="Descripción del producto">
              <% if (producto.description !== null) {%>
                      <%=producto.description.trim()%>
              <% }else{ %>
                      "Descripción del producto ...";
              <% } %>               
            </textarea>            
            <br>
            <input type="number" name="price" class="formProductCreateEditTextInput" placeholder="Precio del producto"
                value="<%=producto.price%>"> 
            
            <input type="image" name="image" class="formProductCreateEditTextInput" placeholder="Imagen producto"
                value="<%=producto.image%>">               
            
            <br>            
            <br>                
            <button type="submit">Guardar</button><br>            
        </form>
        <form action="/products/<%=producto.id%>/?_method=DELETE" method="POST" class="formProductCreate">
          <button type="submit">Borrar producto</button><br>
        </form>
    </main>
    <%- include('./partials/footer') %>
  </body>
</html>