<!DOCTYPE html>
<html lang="en">

<html>
<%- include('./partials/head') %>
  <body>
    <%- include('./partials/header') %>
    <main>
      <!-- Para el dsplegar los errores recibidos desde el backend -->
      <% if(typeof errors !='undefined' ) { %>
        <div class="product-register-div-errors">
          <p style="color: tomato; padding-bottom: 10px">There are some errors with the information provided:
          </p>
          <ul class="ul-nodots">
            <% for (let i=0; i < errors.length; i++) { %>
              <li>
                <%= errors[i].msg %>
              </li>
              <% } %>
          </ul>
        </div>
        <% } %>
         <!--Validaciones front end-->
         <div id="divErroresFrontEnd" class="register-div-errors">
          <p style="color: tomato; padding-bottom: 10px">There are some errors with the information provided:
          </p>
          <ul id="ulErroresFrontEnd" class="ul-nodots">

          </ul>
        </div>       
        <form id="formularioRegistroProductos" action="/products/<%=producto.id%>/?_method=PUT" method="POST" class="formProductCreate"clear enctype="multipart/form-data">
            <h3 class="headerDescripcionDelProducto">Product edit</h3>
            <input id="formNombre" type="text" name="name" placeholder="Name" class="formProductCreateEditTextInput" value="<%=producto.name%>">
            <br>
            <textarea id="formDescripcion" name="description" rows="12" cols="50" class="formProductCreateEditTextInput" placeholder="Description"><% if (producto.description !== null) {%><%=producto.description.trim()%><% } %></textarea>            
            <br>
            <input id="formCosto" type="number" name="price" class="formProductCreateEditTextInput" placeholder="Price"
                value="<%=producto.price%>">
            <br>
            <select name="categoriaId" id="listadoCategorias"  class="formProductCreateEditSelectInput" required>                  
                  <% allCategories.forEach ( categoria=> { %>
                    <!--<option value="<%= categoria.id %>" class="formProductCreateEditTextInput"><%= categoria.description %></option>-->
                    <option value="<%= categoria.id %>"  
                      <% if (producto.category.id == categoria.id) { %>
                        <%= 'selected' %>
                      <% }; %>
                    >
                    <%= categoria.description %>
                  </option>
                  <% }); %>
                </select> 
            
            <img src="/images/productos/<%=producto.image_path%>" alt="<%=producto.name%>"/>
            <input type="hidden" name="oldImage" value="<%=producto.image_path%>">
            <input type="file" name="imagenProducto" id="image" class="formProductCreateEditTextInput" value="<%=producto.image_path%>" >
           
            <br>            
            <br>                
            <button type="submit">Save</button><br>            
        </form>
        <form action="/products/<%=producto.id%>/?_method=DELETE" method="POST" class="formProductCreate">
          <button type="submit">Delete product</button><br>
        </form>
    </main>
    <%- include('./partials/footer') %>
    <script src="/js/productEdit.js"></script>
  </body>
</html>