<!DOCTYPE html>
<html>
<%- include('./partials/head') %>

  <body>
    <%- include('./partials/header') %>
      <main>
        <!-- para el dsplegar los errores recibidos desde el backend -->
        <% if(typeof errors !='undefined' ) { %>
          <div class="product-register-div-errors">
            <p style="color: tomato; padding-bottom: 10px">There are some errors with the information provided:
            </p>
            <ul class="ul-nodots">
              <% for (let i=0; i < errors.length; i++) { %>
                <li>
                  <%= errors[i].msg %>
                </li>
                <% } %>
            </ul>
          </div>
          <% } %>
            <!--Validaciones front end-->
            <div id="divErroresFrontEnd" class="register-div-errors">
              <p style="color: tomato; padding-bottom: 10px">There are some errors with the information provided:
              </p>
              <ul id="ulErroresFrontEnd" class="ul-nodots">

              </ul>
            </div>

            <form id="formularioRegistroProductos" action="/products/savenew" method="POST" class="formProductCreate"
              enctype="multipart/form-data">
              <h3 class="headerDescripcionDelProducto">New product registry</h3>
              <input id="formNombre" type="text" name="nombre" placeholder="Name" class="formProductCreateEditTextInput"
                <% if(typeof oldData !='undefined' ) { %>
              value="<%= oldData.nombre %>"
                <% } else { %>
                  value=""
                  <% } %>
                    >
                    <br>
                    <textarea id="formDescripcion" name="descripcion" rows="12" class="formProductCreateEditTextInput"
                      placeholder="Description"><% if(typeof oldData !='undefined' ) { %><%= oldData.descripcion.trim() %><% } %></textarea>
                    <br>
                    <input id="formCosto" type="number" name="costo" class="formProductCreateEditTextInput"
                      placeholder="Price" <% if(typeof oldData !='undefined' ) { %>
                    value="<%= oldData.costo %>"
                      <% } else { %>
                        value=""
                        <% } %>
                          >
                          <br>
                          <select name="categoriaId" id="listadoCategorias" class="formProductCreateEditSelectInput"
                            required>
                            <option value="-1" disabled selected>Select category</option>
                            <% allCategories.forEach ( categoria=> { %>
                              <option value="<%= categoria.id %>"><%= categoria.description %></option>
                            <% }); %>
                          </select>
                          <h3>Product image</h3>
                          <!--<img src="/images/productos/logo-2.png" class="imagenAdicionalDelProducto" />-->
                          <img src="/images/logo-2.png" id="previewImage"/>
                          <input type="hidden" name="oldImage" value="/images/logo-2.png">
                          <input type="file" name="imagenProducto" id="image" class="formProductCreateEditTextInput"
                            value="/images/logo-2.png">
                          <br>
                          <br>
                          <button type="submit">Create</button><br>
                          <button type="reset">Clear</button><br>
            </form>
      </main>
      <%- include('./partials/footer') %>
     <script src="/js/productCreate.js"></script>
  </body>

</html>