<!DOCTYPE html>
<html lang="en">

<html>
<%- include('./partials/head') %>

  <body>
    <%- include('./partials/header') %>
      <main class="main">
        <!--sección general del producto-->
        <section class="seccionGeneralProducto">
          <!--sección imágenes del producto-->
          <section class="seccionImagenesDelProducto">
            <!--Sección imagen grande del producto-->
            <section class="seccionImagenPrincipalProducto">
              <div class="divLeftArrowArticuloImagenPrincipalProducto">
                <i class="fa-regular fa-square-caret-left iconoFlecha"></i>
              </div>
              <img src="/images/productos/<%=producto.image%>" class="imagenPrincipalDelProducto" />
              <div class="divRightArrowArticuloImagenPrincipalProducto">
                <i class="fa-regular fa-square-caret-right iconoFlecha"></i>
              </div>
            </section>
            <!--Sección imagenes pequeñas del producto-->
            <section class="seccionImagenesAdicionalesProducto">
              <article class="articuloImagenAdicionalProducto">
                <img src="/images/productos/<%=producto.image%>" class="imagenAdicionalDelProducto" />
              </article>
              <article class="articuloImagenAdicionalProducto">
                <img src="/images/productos/<%=producto.image%>" class="imagenAdicionalDelProducto" />
              </article>
              <article class="articuloImagenAdicionalProducto">
                <img src="/images/productos/<%=producto.image%>" class="imagenAdicionalDelProducto" />
              </article>
            </section>
          </section>
          <!--sección descripción y add to cart del producto-->
          <section class="seccionDescripcionYAddToCartDelPropducto">
            <!--sección de descripción del producto-->
            <section class="seccionDescripcionDelProducto">
              <header class="headerDescripcionDelProducto">
                <h1>
                  <%=producto.name%>
                </h1>
              </header>
              <!--articulo para describir el producto-->
              <article class="articuloDescripcionDelProducto">
                <p>
                  <% if (producto.description !==null) {%>
                    <%=producto.description%>
                      <% }else{ %>
                        "Descripción del producto ...";
                        <% } %>
                </p>
              </article>
              <!--Precion del producto-->
              <article class="articlePrecioProducto">
                <%=producto.price%>
              </article>
            </section>
            <!--sección de adicionar a tarjeta-->
            <section class="seccionAdicionarATarjeta">
              <article class="articuloAdicionarATarjeta">
                <button class="botonAddToCart">-</button>
                <input size="15" />
                <button class="botonAddToCart">+</button>
              </article>
              <article class="articuloAdicionarATarjeta">
                <button class="boton">ADD TO CART</button>
                <button class="boton">VIEW CART</button>
              </article>
            </section>
          </section>
        </section>
      </main>
      <%- include('./partials/footer') %>
        <p style="text-align:left">Copyright &copy; 2023 Convenciones Internacionales S.R.L.</p>

  </body>


</html>