<!DOCTYPE html>
<html>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.all.min.js"></script>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.min.css'></link>  
    <head>
        <%- include('./partials/head') %>
    </head>
    <body>
        <%- include('./partials/header') %>
        <main>
            <% if(locals.userData && userData.name) { %>
                <div class="profile-div-h2">
                    <h2>Your profile</h2>
                </div>
                <div class="profile-div-main">
                    <div class="profile-div-black">
                        <p>Name:</p>
                    </div>
                    <div class="profile-div-white">
                        <p><%= userData.name %></p>
                    </div> 
                    <div class="profile-div-black">
                        <p>Last name:</p>
                    </div>
                    <div class="profile-div-white">
                        <p><%= userData.last_name %></p>
                    </div>   
                    <div class="profile-div-black">
                        <p>Login ID:</p>
                    </div>
                    <div class="profile-div-white">
                        <p><%= userData.login_name %></p>
                    </div> 
                    <div class="profile-div-black">
                        <p>E-mail:</p>
                    </div>
                    <div class="profile-div-white">
                        <p><%= userData.email %></p>
                    </div>                                                                                                                                   
                </div>
                <div class="profile-div-h2">
                    <form action="/users/logout" method="GET">
                        <button type="submit" class="but-submit">Close session</button><br>
                    </form>
                </div> 
                <% if (isAdded != null && isAdded) { %>
                    <script>
                        //import swal from 'sweetalert';
                        //window.Swal = require('sweetalert2');                     
                        swal({
                            title: "Profile created",
                            text: "Welcome, your profile has been created!", 
                            type: "info",
                            //showCancelButton: true,
                            confirmButtonColor: "#000000",
                            confirmButtonText: "Continue",
                            closeOnClickOutside: false
                        });
                   </script>
                   <% } %>               
            <% } else { %>
                <div class="profile-div-h2">
                    <h2>The user is not yet registered.</h2>
                </div>
            <% } %>                         
        </main>
        <%- include('./partials/footer') %>
        <p style="text-align:left">Copyright &copy; 2024 Supersymmetry Labs</p>  
    </body>
</html>