<!DOCTYPE html>
<html>
    <head>
        <%- include('./partials/head') %>
    </head>
    <body>
        <%- include('./partials/header') %>
        <main>
            <% if(locals.userData && userData.name) { %>
                <div class="profile-div-h2">
                    <h2>Perfil del miembro</h2>
                </div>
                <div class="profile-div-main">
                    <div class="profile-div-black">
                        <p>Nombre:</p>
                    </div>
                    <div class="profile-div-white">
                        <p><%= userData.name %></p>
                    </div> 
                    <div class="profile-div-black">
                        <p>Apellido:</p>
                    </div>
                    <div class="profile-div-white">
                        <p><%= userData.last_name %></p>
                    </div>   
                    <div class="profile-div-black">
                        <p>Login ID:</p>
                    </div>
                    <div class="profile-div-white">
                        <p><%= userData.login_name %></p>
                    </div> 
                    <div class="profile-div-black">
                        <p>Correo electrónico:</p>
                    </div>
                    <div class="profile-div-white">
                        <p><%= userData.email %></p>
                    </div>                                                                                                                                   
                </div>
                <div class="profile-div-h2">
                    <form action="/users/logout" method="GET">
                        <button type="submit" class="but-submit">Cerrar sesión</button><br>
                    </form>
                </div>                
            <% } else { %>
                <div class="profile-div-h2">
                    <h2>Usuario no registrado aun</h2>
                </div>
            <% } %>                         
        </main>
        <%- include('./partials/footer') %>
        <p style="text-align:left">Copyright &copy; 2023 Convenciones Internacionales S.R.L.</p>  
    </body>
</html>