<!DOCTYPE html>
<html>
    <%- include('./partials/head') %>
    <body class="body-page-register">       
        <%- include('./partials/header') %>

        <main>
            <!--Validaciones backend-->
            <% if(typeof errors != 'undefined') { %>
                <div class="register-div-errors">
                    <p style="color: tomato; padding-bottom: 10px">There are some errors with the information provided:</p>

                    <ul class="ul-nodots">
                        <% for (let i=0; i < errors.length; i++) { %>
                            <li>
                                <%= errors[i].msg %>
                            </li>
                        <% } %>
                    </ul>
                </div>
            <% } %>
            <!--Validaciones front end-->
            <div id="divErroresFrontEnd" class="register-div-errors">
                <p style="color: tomato; padding-bottom: 10px">There are some errors with the information provided:</p>
                <ul id="ulErroresFrontEnd" class="ul-nodots">                    
                
                </ul>
            </div>            
            <form action="/users/processRegister" method="POST" class="form-reg-user" id="formularioRegistroUsuarios">
                <input id="formNombre" type="text" name="nombre" placeholder="Name" class="regular-text"
                <% if(typeof oldData != 'undefined') { %>
                    value="<%= oldData.nombre %>"
                <% } else { %>
                    value=""    
                <% } %>
                >
                <br>
                <input id="formApellido" type="text" name="apellido" placeholder="Last name" class="regular-text"
                <% if(typeof oldData != 'undefined') { %>
                    value="<%= oldData.apellido %>"
                <% } else { %>
                    value=""    
                <% } %>
                >
                <br>
                <input id="formUsuario" type="text" name="usuario" class="regular-text" placeholder="User name"
                <% if(typeof oldData != 'undefined') { %>
                    value="<%= oldData.usuario %>"
                <% } else { %>
                    value=""    
                <% } %>                
                >
                <br>
                <input id="formEmail" name="email" class="regular-text" placeholder="E-mail"
                <% if(typeof oldData != 'undefined') { %>
                    value="<%= oldData.email %>"
                <% } else { %>
                    value=""    
                <% } %>                
                >
                <br>                
                <input id="formPassword1" type="password" name="pass1" class="regular-text" placeholder="Password"
                <% if(typeof oldData != 'undefined') { %>
                    value="<%= oldData.password1 %>"
                <% } else { %>
                    value=""    
                <% } %>                
                ><br>               
                <input id="formPassword2" type="password" name="pass2" class="regular-text" placeholder="Password confirmation"
                <% if(typeof oldData != 'undefined') { %>
                    value="<%= oldData.password2 %>"
                <% } else { %>
                    value=""    
                <% } %>                  
                ><br>
                <br>
                <hr>
                <br>                
                <button id="botonSubmitFormulario" type="submit">Registry</button><br>
                <button type="reset">Clear</button><br>                
            </form>
        </main>
        <%- include('./partials/footer') %>
        <script src="/js/userRegister.js"></script>       
    </body>
</html>