<!DOCTYPE html>
<html>
    <%- include('./partials/head') %>
    <body class="body-page-register">       
        <%- include('./partials/header') %>

        <main>
            <% if(typeof errors != 'undefined') { %>
                <div class="register-div-errors">
                    <p style="color:red"> ERROR</p>
                    <ul class="ul-nodots">
                        <% for (let i=0; i < errors.length; i++) { %>
                            <li>
                                <%= errors[i].msg %>
                            </li>
                        <% } %>
                    </ul>
                </div>
            <% } %>            
            <form action="/users/processRegister" method="POST" class="form-reg-user">
                <input type="text" name="nombre" placeholder="Nombre" class="regular-text"
                <% if(typeof oldData != 'undefined') { %>
                    value="<%= oldData.nombre %>"
                <% } else { %>
                    value=""    
                <% } %>
                >
                <br>
                <input type="text" name="apellido" placeholder="Apellido" class="regular-text"
                <% if(typeof oldData != 'undefined') { %>
                    value="<%= oldData.apellido %>"
                <% } else { %>
                    value=""    
                <% } %>
                >
                <br>
                <input type="text" name="usuario" class="regular-text" placeholder="Nombre de usuario"
                <% if(typeof oldData != 'undefined') { %>
                    value="<%= oldData.usuario %>"
                <% } else { %>
                    value=""    
                <% } %>                
                >
                <br>
                <input type="email" name="email" class="regular-text" placeholder="E-mail"
                <% if(typeof oldData != 'undefined') { %>
                    value="<%= oldData.email %>"
                <% } else { %>
                    value=""    
                <% } %>                
                >
                <br>                
                <input type="password" name="pass1" class="regular-text" placeholder="Password"
                <% if(typeof oldData != 'undefined') { %>
                    value="<%= oldData.password1 %>"
                <% } else { %>
                    value=""    
                <% } %>                
                ><br>               
                <input type="password" name="pass2" class="regular-text" placeholder="Confirmación password"
                <% if(typeof oldData != 'undefined') { %>
                    value="<%= oldData.password2 %>"
                <% } else { %>
                    value=""    
                <% } %>                  
                ><br>
                <br>
                <hr>
                <br>                
                <button type="submit">Registrar</button><br>
                <button type="reset">Borrar</button><br>
            </form>
        </main>
        <%- include('./partials/footer') %>       
    </body>
</html>